
          <table class="cart table table-striped">
            <thead>
            <tr>
              <th scope="col">Book</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
            </thead>
            <ng-container *ngIf="cart!==undefined && cart.items !== undefined">
              <tbody>
              <tr *ngFor="let item of cart.items;">
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
                <td class="btn-link" (click)="removeItem(item.productId)">Remove</td>
              </tr>
              <tr>
                <td colspan="3" class="btn-link" (click)="confirm()">Confirm</td>
              </tr>
              </tbody>
            </ng-container>
          </table>

