<div class="container">
    <h1>Publisher</h1>

    <br />
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10"></div>
    </div>
    <br/>
    <div class="row">

        <div class="col-md-10">
            <kendo-grid publisherBinding>
                <kendo-grid-column field="name">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span class="btn-link" [routerLink]="[dataItem.id,'view']">{{dataItem?.name}}</span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="Logo">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img src="{{dataItem.logo}}">
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>

</div>
